<div class="container">

  <div class="row">
    <div class="col-12">
      <h1>Buttons Clicked State</h1>
    </div>
    <div class="col-6">
      <p id="left-btn-clicks">Left Button clicked: {{leftButtonClicked$ | async}}</p>
    </div>
    <div class="col-6">
      <p id="right-btn-clicks">Right Button clicked: {{rightButtonClicked$ | async}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1>Input Form State</h1>
    </div>
    <div class="col-12">
      <p id="form-ctrl-valid">FormControl valid: {{formControlValid$ | async}}</p>
    </div>
    <div class="col-12">
      <p id="form-ctrl-value">FormControl value: {{formControlValue$ | async}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <h1>Checkbox State</h1>
    </div>
    <div class="col-12">
      <p id="checkbox-value">Checkbox Value: {{checkBoxValue$ | async}}</p>
    </div>
  </div>

</div>
