<div class="container">

    <div class="row">

        <div class="col-12">
            <h1>Buttons Clicked State</h1>
        </div>

        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <p>Left Button</p>
                </div>
                <div class="col-6">
                    <p>clicked: {{leftButtonClicked}}</p>
                </div>
            </div>
        </div>

        <div class="col-6">
            <div class="row">
                <div class="col-6">
                    <p>Right Button</p>
                </div>
                <div class="col-6">
                    <p>clicked: {{rightButtonClicked}}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-12">
            <h1>Form Control State</h1>
        </div>
        <div class="col-12">
            <p>FormControl valid: [{{formControlValid}}]</p>
        </div>
        <div class="col-12">
            <p>FormControl value: [{{formControlValue}}]</p>
        </div>

    </div>

</div>
